.footer {
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b;
}

.footer a {
  font-size: 30px;
  color:  #d3dbe2;
}

.footer p {
  color: #d3dbe2;
}

.footer .fas {
  color: #d3dbe2;
}